.sfondo { background-color:LightGray;

.sfondo1 { background-color:tomato;
           padding:10px;
		   border-color:red;
		   
.sezione { background-color:SkyBlue;
           padding:10px;
		   border-color:blue;